---
interface Props {
  label: string;
  placeholder: string;
  icon:
    | "mail"
    | "phone"
    | "account"
    | "home"
    | "building"
    | "world"
    | "mailbox";
}

const { label, placeholder, icon } = Astro.props;
---

<div class="mb-4 lg:mb-5">
  <label
    class="block text-gray-2 text-2xs lg:text-xs font-bold mb-1"
    for={label}>{label}</label
  >
  <div class="relative">
    <div
      class="absolute inset-y-0 left-0 pl-2 flex items-center pointer-events-none"
    >
      <img src={`/icons/${icon}.svg`} alt={label} />
    </div>
    <input
      class="w-full pl-10 pr-2 py-3 border border-gray-3 rounded-xl focus:outline-none text-xs lg:text-base font-bold"
      id={label}
      name={label}
      type="text"
      placeholder={placeholder}
    />
  </div>
</div>
