---
interface Props {
  label: string;
  placeholder: string;
  icon:
    | "mail"
    | "phone"
    | "account"
    | "home"
    | "building"
    | "world"
    | "mailbox";
}

const { label, placeholder, icon } = Astro.props;
---

<div class="relative">
  <label
    class="block text-gray-2 text-2xs lg:text-xs font-bold mb-1"
    for={label}>{label}</label
  >
  <div
    class="absolute top-4 bottom-[-4px] left-0 pl-3 flex items-center pointer-events-none"
  >
    <img src={`/icons/${icon}.svg`} alt={label} />
  </div>
  <select
    class="block appearance-none w-full bg-white border border-gray-3 pl-10 pr-2 py-[12.5px] rounded-xl leading-tight focus:outline-none text-xs lg:text-base text-gray-3 font-bold"
    name={label}
    id={label}
  >
    <option>Your country...</option>
    <option value="mexico">Mexico</option>
    <option value="brazil">Brazil</option>
    <option value="argetina">Argentina</option>
    <option value="colombia">Colombia</option>
    <option value="chile">Chile</option>
    <option value="usa">USA</option>
  </select>
</div>
